@import "tailwindcss";

:root {
  --background: #db8dd7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4e0464;
    --foreground: #e753bb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Custom subtle glassmorphism scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(90, 34, 221, 0.3);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(248, 248, 250, 0.952);
}

/* Homepage-specific paragraph sizing */
.home-page p {
  font-size: 20px; /* 20px */
  line-height: 1.6;
  color: #d0006f; /* dark shocking pink */
}